# Entorno virtual
env/

# Archivos de configuración de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Archivos de base de datos
*.sqlite3

# Archivos de paquetes
*.egg
*.egg-info
dist/
build/

# Archivos de log
*.log

# Archivos de nodo
node_modules/
npm-debug.log

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/
